/**************************************************
Icons Fonts
***************************************************/
@font-face {
  font-family: 'icon';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/icon.ttf') format('truetype');
}
