<div class="app-login">
  <section class="card">
    <div class="card-header unbordered">
      <div class="card-title">
        {{'menu.login' | translate}}
      </div>
    </div>
    <div class="card-body">
      <div class="alert alert-info">
        <strong>Normal User</strong> - User: user Password: UserUser<br />
        <strong>Admin</strong> - User: admin Password: AdminAdmin
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">{{'menu.username' | translate}}</label>
          <input class="form-control" type="text"
                 formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">{{'menu.password' | translate}}</label>
          <input class="form-control" type="password"
                 formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <button [disabled]="loading" class="btn btn-primary w-100">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          {{'menu.login' | translate}}
        </button>
        <div *ngIf="error" class="alert alert-danger m-top">{{error}}</div>
      </form>
    </div>
  </section>
</div>


